/* Topbar: Background color */
.swagger-section #header {
    background-color: #008583 !important;
}

/* Buttons: Inactive */
.swagger-section #explore, .swagger-section #auth_container .authorize__btn {
    background-color: #372B1D !important;
}

/* Buttons: Hover */ 
.swagger-section #explore:hover, .swagger-section #auth_container .authorize__btn:hover {
    background-color: #644E37 !important;
}

/* Links: Inactive */ 
#api_info a {
    color: #372B1D !important;
    text-decoration: none !important;
}

#api_info a:hover {
    color: #372B1D !important;
    text-decoration: underline !important;
}


