/* Topbar: Background color */
.topbar {
    background-color: #008583 !important;
}

.download-url-button {
	background-color: #4d4d4d  !important;
}

.download-url-button:hover{
	background-color: #644E37 !important;
}

.download-url-input {
	border: 2px solid #4d4d4d !important;
}


/* Links: Inactive */ 
.swagger-ui .info a {
    color: #372B1D !important;
    text-decoration: none !important;
}

/* Links: Hover*/ 
.swagger-ui .info a:hover {
    color: #372B1D !important;
    text-decoration: underline !important;
}


